.task {
  position: relative;
  display: flex;
  width: 90%;
  height: 95px;
  margin: 2px auto;
  gap: 1px;
  background-color: #fefefe;
  align-items: center;
  padding: 0 10px;
}

.task_checkbox {
  display: flex;
  position: relative;
  margin-right: 35px;
}

.task_checkbox_border {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid gray;
}

.task_checkbox_check {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 5px;
}
